/*------ font style -----*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* ......................
      Common/Base style
............ ............*/

body{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    }

/*.................
    Header Style
 ................. */
 
header{
    background-color: #151B8D;
}
.header-content{
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 33px;
}
.container
 {
 max-width: 1150px;
 width: 1100px;
 display: flex;
 margin: auto;
 }
.col-6{
    width: 50%;
}
img{
    max-width: 100%;
}
.header-content h1{
    font-size: 64px;
    font-weight: 700;
    color: white;
    padding-top: 15px;
}
.header-content h1:hover
{
    text-transform: uppercase;
}
.liveBtn{
    padding: 10px 24px;
    background-color:#E02C6D;
    border: 1px solid #E02C6D;
    border-radius: 3px;
    color: white;
    font-size: 17px;
    font-weight: 500px;
}
.liveBtn:hover
{
    background-color: rgb(140, 196, 30);
    border-color: yellowgreen;
    font-size: 19px;
}
.blue:hover
{
    background-color:#151B8D;
    border-color: #151B8D;
    font-size: 19px;
}
.col-6.transform-banner:hover
{
    transform: matrix(-1, 0, 0, 1, 0, 0);
    
}
.padding-banner{
    padding-top: 17px;
}
.padding-top-cup
{
    padding-top: 5em;
    border-bottom: 2px solid #EFF0F1;
}
.padding-pera-Cup
{
    padding-top: 55px;
    margin:0px 10px 10px;

}
.padding-pera-Cup h1
{
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 0px;}
/*...............
   Player Style
................. */

.players-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 30px 33px 120px 33px;
}
.players{
    margin: 15px 15px;
    border: 1px soild white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px 15px;
}
.players p{
    color: gray;
}

/*.............................
     Player Highlights Style
............................... */
.highlights h1
{
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 0px;
    
}
.highlights
{
    margin: 0px 30px;
}
.highlights-pera
{
    color: gray;
    padding-bottom: 12px;
}
/*...................
    Footer Style
..................... */
.ftr 
{
    margin-top: 135px;
    text-align: center;
}
.ftr img{
    width: 480px;
    height: 105px;
}
.icon
{
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: center;
}
.margin{
    margin: 20px 10px 20px 10px;
}
.fa{
    color:blue;
}
.fa-instagram-square
{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); 
}
.fa-youtube
{
    color: red;
}
.ftr p
{
   padding-bottom: 20px;
   font-size: 18px;
}

/*-------------------------
     Media Queries
---------------------------*/


/* Mobile Deivces */


@media only screen and (max-width:688px){
.container{
    width: 100%;
    flex-direction: column;
}
.players-list{

    grid-template-columns: repeat(1, 1fr);
}
}


